<% provide(:title, "About GameHubOne") %>
<!DOCTYPE html>
<html>
  <head>
    <title>About GameHubOne</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      A web application to allow groups of people to plan events with other people in there respective gaming communities.
    </p>
    <p>
      This was created by 
      <a target="_blank" href="https://linkedin.com/in/simonkrol">Simon Krol</a>
      using 
      <a target="_blank" href="http://rubyonrails.org/">Ruby on Rails</a>.
    </p>
    <p>The source code can be found on my 
      <a target="_blank" href="https://github.com/simonkrol/GameHubOne"> Github</a>.
    </p>
  </body>
</html>