<% provide(:title, "About Secrets") %>
<!DOCTYPE html>
<html>
  <head>
    <title>About Secrets</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      A web application to allow groups of people to generate Secret Santa matchings.
    </p>
    <p>
      This was created by 
      <a target="_blank" href="https://github.com/simonkrol">Simon Krol</a>
      using 
      <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    </p>
  </body>
</html>