<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Email 
  <a target="_blank" href="https://github.com/simonkrol">Simon Krol</a>
  about the Secrets Web App at
  <a target="_blank" href="mailto:simonkrol11+Secrets@gmail.com?subject=Secrets Contact">simonkrol11@gmail.com</a>.
</p>