<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help with GameHubOne by reaching out to us at our 
      <a href="/contact">Contact</a> page.
    </p>
  </body>
</html>