<div class="jumbotron">
  <h1>Welcome to Secrets</h1>

  <h3>
    Secret Pair Generator
  </h3>
  </h2>
  <% if !logged_in? %>
  	<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
